@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    font-family: "Osawld";
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
}

a, li{
    font-family: "Oswald";
    list-style: none;
    color: black;
}

.header{
    display: flex;
    background-color: gray;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

@media (max-width:700px){
    .header{
        flex-direction: column;
    }
}

.logo-header img{
    width: 100px;
}

.nav-menu ul{
    display: flex;
    align-items: center
}

.nav-menu li{
    margin: 20px;
}
.iconos-img{
    display: flex;
    
}
.iconos{
    margin: 15px;

}
.iconos img{
    width: 25px;
}

.header button{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff ,#09f ,#00ddff);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.header button samp{
    background-color: #111;
    padding: 16px 20px;
    border-radius: 6px;
    transition: .3s;
}

.header button:hover samp{
    background: none;
}
.header button:active{
    transition: scale(0.9);
}


---/*fin del header*/---

@media (max-width:700px){
    .contenedor-de-categorias2{
        display: grid;
        align-items: center;
        padding: 10px;
        justify-content: center;
        background-color: grey;
        border-radius: 22px;
    }

}

.productos-{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.gorraarg{
    display: flex;
    background-color: white;
    border-radius: 22px;
    margin: 15px;
    padding: 20px 20px;
    width:300px;
}

.gorraarg img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.gorraarg h3{
    display: flex;
    justify-content: center;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
}
.gorraarg p{
    font-family: fantasy;
    color: green;
    display: flex;
    justify-content: center;
    
}
#categorias{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.contenedor-de-categorias2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 150px;
    padding: 50px;
}
.contenedor-de-categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 150px;
    padding: 50px;
    
}

.contenedor-de-ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 50px;
    
}
#ofertas{
    background-color: gray;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.video-gorras{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}
.compra-1{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.gorraarg-compra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 200px;
    background-color: white;
    border-radius: 22px;
    padding: 12px;
    width:1200px;
    height: 600px;
}

.gorraarg-compra img{
    display: flex;
    width: 600px;
}

.gorraarg-compra p{
    display: flex;
    font-size: 46px;
    font-weight: 600px;
    color: red;
}

.gorraarg-compra h2{
    display: flex;
    color: blue;
}

.boton-compra input{
    background-color: rgb(5, 241, 24);
    width: 100px;
}
.gorraarg-compra-{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 200px;
    background-color: white;
    border-radius: 22px;
    padding: 12px;
    width:1000px;
    height: 500px;
}

.gorraarg-compra- img{
    display: flex;
    width: 500px;
}

.gorraarg-compra- p{
    display: flex;
    font-size: 46px;
    font-weight: 600px;
    color: red;
}

.gorraarg-compra- h2{
    display: flex;
    color: blue;
}